/**********
COMPONENTS  
**********/
@mixin linkUnderline($color){
    color: $color;
    background-image: linear-gradient($color, $color);
    background-position: bottom left;
    background-size: 100% 1.5px;
    background-repeat: no-repeat;
    transition: $transition;
    display: inline-block;
    &:hover{
        background-size: 0% 1.5px;
    }
}
@mixin link($color){
    color: $color;
    background-image: linear-gradient($color, $color);
    background-position: bottom left;
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
    transition: $transition;
    display: inline-block;
    &:hover{
        background-size: 100% 1.5px;
    }
}
/**********
RESPONSIVE
**********/
@mixin desktop_all{
    @media screen and (min-width: $desktop_min) {
        @content
    }
};

@mixin tablet_all{
    @media screen and (min-width: $tablet_min) and (max-width: $tablet_max) {
        @content
    }
};

@mixin tablet_mobile{
    @media screen and (max-width: $tablet_max) {
        @content
    }
};

@mixin burger_menu{
    @media screen and (max-width: $burger_menu) {
        @content
    }
};

@mixin mobile_all{
    @media screen and (max-width: $mobile_max) {
        @content
    }
};