@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

$ff-signika: "Signika Negative", sans-serif;

$clr-primary: #1b08ef;
$clr-font: #000000;
$clr-background: #ffffff;

/**********
RESPONSIVE
**********/
$desktop_min: 1200px;
$tablet_max: 1199px;
$burger_menu: 1025px;
$tablet_min: 768px;
$mobile_max: 767px;